@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

:root {
    --theme-light: #CBE6EA;
    --theme-neutral: #6E6E71;
    --theme-primary: #30688B;
    --theme-dark: #0D2238;
    --theme-contrast: #FFC296;
    --theme-dark-text: #333;
    --theme-main-text: #555;
    --theme-slalom: #08091D;
}

body {
    margin: 0px;
}

main {
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 30px;
    color: var(--theme-main-text);
}

h2 {
    margin: 0;
    padding: 0;
}

h2,
strong {
  color: var(--theme-dark-text);
}

a {
    color: var(--theme-contrast);
}

header {
    line-height: 1.2;
    position: absolute;
    top: 13vh;
    text-align: center;
    font-family: "EB Garamond",serif;
    overflow: hidden;
    transform: skewX(-135deg);
}
.header-black {
    right: -30vw;
}
.header-white {
    right: 20vw;
}

.header-title {
    font-size: 2.5em;
    font-weight: 300;
}
.title-black {
    color: var(--theme-dark-text);
}
.title-white {
    color: #fff;
}

.header-button-container {
    overflow: hidden;
    padding: 1px;
    position: absolute;
    right: 8vw;
    top: 25vh;
    z-index: 10;
    transform: skewX(-135deg);
    pointer-events: auto;
}
.button-container-black {
    right: -40vw;
}
.button-container-white {
    right: 10vw;
}
  
.header-button {
    transform: translateY(3.5em); 
    display: inline-block;
    border: 1px solid var(--theme-contrast);
    border-radius: 290486px;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-transform: uppercase;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
    pointer-events: auto;
}
.button-black {
    color: var(--theme-dark-text);
}
.button-white {
    color: #fff;
}
.header-button:hover{
    background:  var(--theme-contrast);
    color: var(--theme-dark-text);
}

.header-section {
    height: 60vh;
    position: relative;
}

.white-strip {
    position: absolute;
    background: #fff;
    height: 100%;
    width: 100%;
}
.strip {
    position: absolute;
    height: 100%;
    width: 100%
}
.strip-neutral {
    background: linear-gradient(135deg,
    var(--theme-neutral) 16.66%, rgb(0,0,0,0%) 0);
    z-index: 5;
}
.strip-contrast {
    background: linear-gradient(135deg,
    rgb(0,0,0,0%) 16.66%, var(--theme-contrast) 0,
    var(--theme-contrast) 33.33%, rgb(0,0,0,0%) 0);
    z-index: 4;
}
.strip-light {
    background: linear-gradient(135deg,
    rgb(0,0,0,0%) 33.33%, var(--theme-light) 0,
    var(--theme-light) 50%, rgb(0,0,0,0%)  0);
    z-index: 3;
}
.strip-primary {
    background: linear-gradient(135deg,
    rgb(0,0,0,0%) 50%, var(--theme-primary) 0,
    var(--theme-primary) 83.33%, rgb(0,0,0,0%) 0);
    z-index: 2;
}
.strip-dark {
    background: linear-gradient(135deg,
    rgb(0,0,0,0%) 83.33%, var(--theme-dark) 0);
    z-index: 1;
}

.skew-clip {
    height: 100%;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    transform: skewX(135deg);
    z-index: 10;
}
.noclip {
    pointer-events: none;
}
.noclip:hover {
    overflow: unset;
    z-index: 11;
}
.clip-black {
    width: 100%;
    right: 50%;
}
.clip-white {
    width: 50%;
    left: 50%;
}

.section {
    margin: 200px auto 0;
    max-width: 100%;
}

.case-item-content {
    margin-top: 10px;
    margin-bottom: 30px;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.case-item-icon {
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.icon-slalom {
    width: 80px;
    height: 80px;
}
.icon-sbisd {
    width: 80px;
    height: 80px;
}

.grid-items {
    display: flex;
    flex-flow: row wrap;
}

.grid-section-header {
    flex: 1 100%;
    font-size: 5em;
    line-height: .75em;
}

.grid-item {
    flex: 1 50%;
    padding: 30px 50px 60px;
    min-height: 500px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: var(--theme-primary);
}

.grid-item:hover 
.grid-item-divider{
    transform: scaleX(1) translate3D(0, 6px, 0);
}

.grid-item:hover 
.case-item-content{
    transform: translate3D(0, 6px, 0);
}

.grid-item:hover 
.grid-item-text{
    transform: translate3D(0, 8px, 0);
}

.grid-item:hover 
.grid-item-header{
    transform: translate3D(0, -6px, 0);
}

.grid-item:hover 
.grid-item-bg{
    transform: scale3D(1.04, 1.04, 1);
}

.grid-item-last {
    flex: 1 100%;
}

.grid-item-header {
    font-size: 48px;
    line-height: 1.3em;
    font-family: "EB Garamond",serif;
    margin: 60px auto 0.65em;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
    z-index: 10;
    letter-spacing: -0.3px;
}

.grid-item-text {
    margin: 0 auto 60px;
    width: 80%;
    z-index: 10;
    max-width: 500px;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.grid-item-divider {
    display: block;
    position: relative;
    height: 3px;
    background-color: currentColor;
    width: 60px;
    right: 0;
    margin: 60px auto 30px;
    transform: scaleX(0.8);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.grid-item-bg {
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contact-info {
    text-align: left;
}

.contact-link {
    padding: 4px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
}

.contact-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.no-left {
    margin-left: 0;
}

.slalom {
    background-color: var(--theme-slalom);
}


.sbisd {
    background-color: var(--theme-light);
    color: var(--theme-dark-text);
}

#slalom-path-1 {
    stroke-dasharray: 1452;
    stroke-dashoffset: 0;
    animation: dash 16s linear infinite;
    animation-delay: 5s;
}

@keyframes dash {
    0%, 25% {
        stroke-dashoffset: 2904;
    }
    25%,50% {
        stroke-dashoffset: 1452;
    }
    50%,75% {
        stroke-dashoffset: 1452;
    }
    75%,100% {
        stroke-dashoffset: 0;
    }
}

@media (min-width: 1200px){
    main {
        padding-right: 120px;
        padding-left: 120px;
    }
}

@media (max-width: 800px){
    .grid-item {
        flex: 1 100%;
    }
}

@media (max-width: 600px){
    .grid-item-header {
        font-size: 36px;
    }
}

  